<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href='../stylesheets/style.css'>
</head>
<body>

    <div class="container">

        <div class="left_Side">
  
            <div class="profiletext">
  
                <div class="imgBx">
                    <img src='../imagenes/img03.JPG' alt="Angel Castro" height="250px">
                </div>
  
                <h2>Angel Jose Castro Ramirez <br><span>Est. Ingeniería en sistemas</span></h2>
  
            </div>
  
            <div class="contactInfo">
                <h3 class="title">Contacto</h3>
                <ul>
                    <li>
                        <span class="icon">
                            <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-phone" width="20" height="20" viewBox="0 0 24 24" stroke-width="1" stroke="#ffffff" fill="none" stroke-linecap="round" stroke-linejoin="round">
                            <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                            <path d="M5 4h4l2 5l-2.5 1.5a11 11 0 0 0 5 5l1.5 -2.5l5 2v4a2 2 0 0 1 -2 2a16 16 0 0 1 -15 -15a2 2 0 0 1 2 -2" />
                          </svg>
                        </span>
                        <span class="Text">+58 412-2460328</span>
                    </li>
                </ul>
                
                <ul>
                    <li>
                        <span class="icon">
                            <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-mail" width="20" height="20" viewBox="0 0 24 24" stroke-width="1" stroke="#ffffff" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                                <path d="M3 7a2 2 0 0 1 2 -2h14a2 2 0 0 1 2 2v10a2 2 0 0 1 -2 2h-14a2 2 0 0 1 -2 -2v-10z" />
                                <path d="M3 7l9 6l9 -6" />
                              </svg>
                        </span>
                        <span class="Text">Angelcastro0808g@gmail.com</span>
                    </li>
                </ul>
                <ul>
                    <li>
                        <span class="icon">
                            <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-brand-github" width="20" height="20" viewBox="0 0 24 24" stroke-width="1" stroke="#ffffff" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                                <path d="M9 19c-4.3 1.4 -4.3 -2.5 -6 -3m12 5v-3.5c0 -1 .1 -1.4 -.5 -2c2.8 -.3 5.5 -1.4 5.5 -6a4.6 4.6 0 0 0 -1.3 -3.2a4.2 4.2 0 0 0 -.1 -3.2s-1.1 -.3 -3.5 1.3a12.3 12.3 0 0 0 -6.2 0c-2.4 -1.6 -3.5 -1.3 -3.5 -1.3a4.2 4.2 0 0 0 -.1 3.2a4.6 4.6 0 0 0 -1.3 3.2c0 4.6 2.7 5.7 5.5 6c-.6 .6 -.6 1.2 -.5 2v3.5" />
                              </svg>
                        </span>
                        <span class="Text">ángel30147</span>
                    </li>
                </ul>
                <ul>
                    <li>
                        <span class="icon">
                            <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-map-pin" width="20" height="20" viewBox="0 0 24 24" stroke-width="1" stroke="#ffffff" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                                <path d="M9 11a3 3 0 1 0 6 0a3 3 0 0 0 -6 0" />
                                <path d="M17.657 16.657l-4.243 4.243a2 2 0 0 1 -2.827 0l-4.244 -4.243a8 8 0 1 1 11.314 0z" />
                              </svg>
                        </span>
                        <span class="Text">Venezuela, Aragua, Villa</span>
                    </li>
                </ul>
            </div>
  
  <!-- ///////////////////////////Educacion/////////////////////// -->
  
            <div class="contactInfo education">
                <h3 class="title">Estudios</h3>
  
                <ul>
                    <li>
                        <h5>2020 - 2024</h5>
                        <h4>Cursando Ingeneria en sistemas</h4>
                        <h4>Universidad "Romulos Gallegos"</h4>
                    </li>
    
                    <li>
                        <h5>2016 - 2020</h5>
                        <h4>Bachillerato</h4>
                        <h4>Liceo "Aime Bompland"</h4>
                    </li>
    
                    <li>
                        <h5>2010 - 2016</h5>
                        <h4>Basica</h4>
                        <h4>Escuela Basica "Vicente Velasquez"</h4>
                    </li>
                </ul>
                
            </div>
  
            <div class="contactInfo lenguage">
                <h3 class="title">Lenguajes</h3>
  
                <ul>
                    <li>
                        <span class="Text">Ingles</span>
                        <span class="percent">
                            <div style="width: 50%;"></div>
                    </li>
  
                    <li>
                        <span class="Text">Español</span>
                        <span class="percent">
                            <div style="width: 100%;"></div>
                        </span>
                    </li>
                </ul>
            </div>
        </div>
  
  
  
  
        <div class="right_Side">
            <div class="about">
                <h2 class="title2">Perfil</h2>
                <p>
                  Estudiante de informatica altamente motivado y entusiasmado con hablidades
                  solidas en programacion y desarrollo de web. con experiencia en Lenguajes
                  como JavaScript (basico), Css y Html, asi como en sistemas operativos
                  de Windows. <br><br>
  
                  Capaz de trabajar de forma independiente y con equipo, con excelente 
                  habilidad para resolver problemas y capacidad para adaptarse rapidamente
                  a entornos cambiantes. <br><br>
  
                  En resumen, busco una oportunidad laboral donde pueda seguir 
                  creciendo como desarrollador web o en general como programador, aportar
                  mi experiencia y absorber la de otros, trabajar en un ambiente dinamico y colaborativo
                  que me permita seguir aprendiendo y creciendo en mi carrera como programador. 
                </p>
        </div>
  
            <div class="about">
                <h2 class="title2">Experiencia</h2>
                <div class="box">
                    <div class="años-compa">
                        <h5>2023 - Presente</h5>
                        <h5>Curso "Udemy"</h5>
                    </div>
                    <div class="text">
                        <h4>Programador Junior (Fullstack)</h4>
                        <p>
                            Actualmente estoy realizando un curso de programador Fullstack
                            en el cual me estoy desempeñando en lenguajes como HTML5, CSS3, JS AJAX PHP y MySQL
                            para poder desenvolverme mas en estos lenguajes de programacion y tener una mejor
                            distribucion y orden a la hora de realizar cualquier poryecto.
                        </p>
                    </div>
                    
                </div>
  
                <br>
                <div class="box">
                    <div class="años-compa">
                        <h5>2020 - 2021</h5>
                        <h5>Curso Basico "Html/Css"</h5>
                    </div>
                    <div class="text">
                        <h4>Html5 y Css3</h4>
                        <p>
                            Realice un curso basico y corto (sin ningun tipo de reconocimiento)
                            de HTML5 y CSS3 que constaban de 20 videos por cada lenguaje para 
                            aprender lo basico y asi poder agilizar mas mis proyectos. 
                        </p>
                    </div>
            </div>
  
        </div>
  
        <div class="about skills">
            <h2 class="title2">Habilidades</h2>
            <div class="box">
                <h4>Html</h4>
                <div class="percent">
                    <div style="width: 90%;"></div>
                </div>
            </div>
  
            <br>
  
            <div class="box">
                <h4>Css</h4>
                <div class="percent">
                    <div style="width: 65%;"></div>
                </div>
            </div>
  
            <br>
  
            <div class="box">
                <h4>JavaScript</h4>
                <div class="percent">
                    <div style="width: 20%;"></div>
                </div>
            </div>
        </div>
  
        <div class="about interest">
            <h2 class="title2">Intereses</h2>
            <ul>
                <li>
                    <i>
                        <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-device-gamepad" width="20" height="20" viewBox="0 0 24 24" stroke-width="1.5" stroke="#ffffff" fill="none" stroke-linecap="round" stroke-linejoin="round">
                        <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                        <path d="M2 6m0 2a2 2 0 0 1 2 -2h16a2 2 0 0 1 2 2v8a2 2 0 0 1 -2 2h-16a2 2 0 0 1 -2 -2z" />
                        <path d="M6 12h4m-2 -2v4" />
                        <path d="M15 11l0 .01" />
                        <path d="M18 13l0 .01" />
                        </svg>
                    </i>
                  Juegos</li>
                <li>
                    <i>
                        <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-layout-dashboard" width="20" height="20" viewBox="0 0 24 24" stroke-width="1.5" stroke="#ffffff" fill="none" stroke-linecap="round" stroke-linejoin="round">
                        <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                        <path d="M4 4h6v8h-6z" />
                        <path d="M4 16h6v4h-6z" />
                        <path d="M14 12h6v8h-6z" />
                        <path d="M14 4h6v4h-6z" />
                        </svg>
                    </i>
                  Paginas Web</li>
                <li>
                    <i>
                        <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-brand-spotify" width="20" height="20" viewBox="0 0 24 24" stroke-width="1.5" stroke="#ffffff" fill="none" stroke-linecap="round" stroke-linejoin="round">
                        <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                        <path d="M12 12m-9 0a9 9 0 1 0 18 0a9 9 0 1 0 -18 0" />
                        <path d="M8 11.973c2.5 -1.473 5.5 -.973 7.5 .527" />
                        <path d="M9 15c1.5 -1 4 -1 5 .5" />
                        <path d="M7 9c2 -1 6 -2 10 .5" />
                        </svg>
                    </i>
                    Musica</li>
                <li>
                    <i>
                        <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-book-2" width="20" height="20" viewBox="0 0 24 24" stroke-width="1.5" stroke="#ffffff" fill="none" stroke-linecap="round" stroke-linejoin="round">
                        <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                        <path d="M19 4v16h-12a2 2 0 0 1 -2 -2v-12a2 2 0 0 1 2 -2h12z" />
                        <path d="M19 16h-12a2 2 0 0 0 -2 2" />
                        <path d="M9 8h6" />
                        </svg>
                    </i>
                    Leer</li>
            </ul>
        </div>
        <div class="about gotm">
            <h2 class="title2">Formulario</h2>
            <form action="/sendForm" method="POST">
                <label for="">
                    Nombre
                </label><br>
                <input type="text" name="name">
                <label for=""><br>
                    Correo
                </label><br>
                <input type="text" name="email">
                <label for=""><br>
                    Comentario
                </label><br>
                <textarea name="commentary" id="">
    
                </textarea><br>
                <button>Enviar</button>
            </form>
            
            
        </div>
    </div>

</body>
</html>